<!DOCTYPE html>
<html lang="en">

<head>
    <title>ModificarAlumno</title>
    <link rel="stylesheet" href="/src/main/resources/templates/style.css">


</style>

</head>
<section class="borde1">
    <header >
        <img src="/Logos/LOGO-CIE.png" >
      </header>
      <h4 class="gestion">Gestion Administrativa</h4>
    </section>

<div class="">

</div>

<div class="alta">
    <h3>Modificar Alumno</h3>
<form th:action="@{}" method="post">
        <label for="nombre">Nombre</label>
        <input class="input2" type="text" name="nombre" id="nombre" placeholder="Ricardo(traer de la base)"><br>
        <label  for="apellido">Apellido</label>
        <input class="input2" type="text" name="apellido" id="apellido"><br>
        <label for="dni">D.N.I.</label>
        <input class="input2" type="text" name="dni" id="dni"><br>
        <label for="fechanac">Fecha de Nacimiento</label>
        <input class="input2" type="text" name="fechanac" id="fechanac"><br>
        <label for="domicilio">Domicilio</label>
        <input class="input2" type="text" name="domicilio" id="domicilio"><br>
        <label for="correoelectronico">E-mail</label>
        <input class="input2" type="text" name="correoelectronico" id="correoelectronico"><br>
        <button class="cerrar2" type="submit" >Guardar</button> 
    
        </select><br>
              
 
</form> 
</div>
<div class="cerrar2">
    <button class="cerrar2"  >Seleccionar Modulo</button>
    </div>
<div class="cerrar2">
    <button class="cerrar2"  >Seleccionar Curso</button>
    </div>
<div class="cerrar2">
    <button class="cerrar2"  >Cerrar sesión</button>
    </div>  
<footer>

    <section class="redes">
    <img src="/src/main/resources/Static/Logo Facebook.png" height="30">
     <a target="_blank" href="https://www.facebook.com/CentroIntegralDeEstudiosCie/">Facebook</a><br>
    
    
    
     <img src="/src/main/resources/Static/Logo Insta.png" height="30"> 
     <a target="_blank" href="https://instagram.com/cie.educaciononline">Instagram</a><br>
    
    
    
     <img src="/src/main/resources/Static/Logo Whats.png" height="30">
     <a target="_blank" href="https://api.whatsapp.com/message/MRND6YNQQDQGK1">Whatsapp</a>
    </section>
    
    <section class="contactos">
     <h4>CONTACTO</h4>
    
     Aministacion - <a target="_blank" href="https://wa.me/5493517619467">(0351) - 15619467</a><br>
     Gestión - <a target="_blank" href="https://wa.me/5493518174158">(0351) - 158174158</a><br>
     Técnico - <a target="_blank" href="https://wa.me/5493518174157">(0351) - 158174157</a><br>
     Pedagógico - <a target="_blank" href="https://wa.me/5493515195753">(0351) - 155195753</a><br>
     Email - <a href="mailto:ciecordobacapital@gmail.com">ciecordobacapital@gmail.com</a>
    </section>
    
    
     <section>  
     <img src="/src/main/resources/Static/C.png" height="150" > 
    </section>
    
    </footer>



</body>
</html>
