<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Modulos</title>
    <link rel="stylesheet" href="/src/main/resources/templates/style.css">
    <style>
     th {
     border: 1px solid rgb(104, 100, 100)
        }
    </style>

</head>
<body>
<section class="borde1">
    <header >
        <img src="/Logos/LOGO-CIE.png" >
      </header>
      <h4 class="gestion">Gestion Administrador</h4>
    </section>
    <div class="curso">
        <h1>NOMBRE DEL CURSO</h1>
    </div>
    <div class="tablamodulosadmin">
        <table> 
                <tr>
                    <th><a href="file:///C:/Users/Administrador/3D%20Objects/C.I.E.%20HTML/Admin/menumodulosadmin.html" name="modulos" >Modulo 1 Introduccion></a></th>
                </tr>
                <tr>
                    <th><a href="file:///C:/Users/Administrador/3D%20Objects/C.I.E.%20HTML/Admin/menumodulosadmin.html" name="modulos" >Modulo 2 Enfermeria></a></th>  
            </tr>
            <tr>
                <th><a href="file:///C:/Users/Administrador/3D%20Objects/C.I.E.%20HTML/Admin/menumodulosadmin.html" name="modulos" >Modulo 3 Farmacologia></a></th>   
        </tr>   
        </table>
    </div>
    <div class="cerrar2">
        <button class="cerrar2"  >Seleccionar Curso</button>
        </div>
    <div class="cerrar2">
        <button class="cerrar2"  >Cerrar sesión</button>
        </div>  
</body> 
</html>