<!DOCTYPE html>
<html lang="en">

<head>
    <title>CIE</title>

<style>
    th  {
        border: 1px solid rgb(104, 100, 100)
    }
</style>
</head>
<body>
    <header>
        <h1>C.I.E.</h1><br>
    <h3>CENTRO INTEGRAL DE ESTUDIOS</h3>
    </header>
<span ><h3>Gestiones Administrativas</h3></span>

<section class="rotulo">
    <h2>Curso Seleccionado</h2>
    <h2>Modulo Seleccionado</h2>
    <h3>NUEVO Alumno</h3>


    <section>
        <table>
            <thead>
                <tr>
                    <th name="Nombre">NOMBRE</th>
                    <th name="Apellido">APELLIDO</th>
                    <th name="Direccion">DIRECCION</th>
                    <th name="DNI">DNI</th>
                    <th name="Curso">CURSO</th>
                    <th name="Telefono">TELEFONO</th>
                    <th name="Turno">TURNO</th>
                    <th name="Email">E-MAIL</th>
                    <td>  </td>
                </tr>
    
            </thead>
            
            <tbody>
                <tr>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    

                    <td><input/td>
            </tr>
          
        
    </tbody>
    </table>
    <form action=""><button style="submit">Guardar</button></form>
    </section>



    </section>
