<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <div th:fragment="form-nuevo-modulo(newModulo, cursos)">
    <form th:action="@{/modulo/crear}" method="post" th:object="${newModulo}">
        <label for="curso">seleccione el curso al que pertenece el nuevo modulo</label>
      <select name="curso" id="curso">
        <option th:each="curso:${cursos}" th:text="${curso.nombre}" th:value="${curso.id}" th:field="*{curso}"></option>
      </select>
        <input type="text" placeholder="nombre modulo" th:field="*{nombre}">
        <button type="submit">cargar</button>
    </form>
  </div>
</head>

</html>